// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bookmarkbar {
  &__item {
    font-size: 14px;
  }
}

.dropdown-item,
.nest-items__item {
  font-size: 14px;
  min-width: 320px;
}

@media (min-width: 576px) {
  .card-deck {
    margin-top: 60px;
  }
  .card-deck .card {
    width: 22.2%;
    flex: none;
    margin-bottom: 30px;
  }
  .card-body {
    padding: 1rem;
  }
}